body {
	background-color: #99ccff;
	font-family: arial;
}

.main-image {
	display: block;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align:center;
}

.bottom-link {
	padding: 10px;
}

#first-p {
	font-weight: bold;
}

#contact-info {
	border: 2px solid black;
	padding: 10px;
	margin: 5% 5%;
	background-image: url("images/stylized-waves.jpg");
	font-weight: bold;
}

#vol-table, th, td {
	border: 1px solid black;
}

a {
	color:white;
}

a:visited {
	color:gray;
}

@media (max-width: 250px) {
  .main-image {
    display: none;
  }
  .bottom-link {
  	padding: 1%;
  }
  #contact-info {
  	padding: 1%;
  }
}

